
@font-face{

    font-family: "Gilroy";
    src: local('Gilroy-Light'),
    url("/template/styles/fonts/fonts/Gilroy-Light.woff2") format("woff2");
    font-weight: 300;
    font-style: normal;
    font-display: swap;

}

@font-face{
    font-family: "Gilroy";
    src: url("/template/styles/fonts/fonts/Gilroy-Regular.woff2") format("woff2");   
    font-weight: 400;
    font-style: normal;
    font-display: swap;

}


@font-face{
    font-family: "Gilroy";
    src: url("/template/styles/fonts/fonts/Gilroy-Medium.woff2") format("woff2");
    font-weight: 500;
    font-style: normal;
    font-display: swap;

}


@font-face{
    font-family: "Gilroy";
    src: url("/template/styles/fonts/fonts/Gilroy-SemiBold.woff2") format("woff2");
    font-weight: 600;
    font-style: normal;
    font-display: swap;

}

@font-face{
    font-family: "Gilroy";
    src: url("/template/styles/fonts/fonts/Gilroy-Bold.woff2") format("woff2");
    font-weight: 700;
    font-style: normal;
    font-display: swap;

}




@font-face {
    font-family: 'Gilroy';
    src: url("/template/styles/fonts/fonts/Gilroy-Extrabold.woff2") format('woff2');

    font-weight: 800;
    font-style: normal;
}


@font-face{
    font-family: "Gilroy";
    src: url("/template/styles/fonts/fonts/Gilroy-Heavy.woff2") format("woff2");
    font-weight: 900;
    font-style: normal;
    font-display: swap;

}