.about-us{

    color: var(--color-green);

    display: flex;
    column-gap: 80px;

    @include tablet{
        column-gap: 40px;
    }


    @include mobile{

        flex-direction: column;
        align-items: center;
        row-gap: 40px;
    }



    &__column{

        display: flex;
        flex-direction: column;
        row-gap: 13px;


        &:first-child{
            max-width: 476px;
            row-gap: 32px;

            @include mobile{
                row-gap: 13px;
                text-align: center;
            }


            .about-us__column-desc{
                font-style: italic;
                max-width: 417px;
            }

        }



   


        &-title{
            @include fluid-text(28, 18);
            font-weight: 600;
            font-family: 'Gilroy-SemiBold',sans-serif;

            
        }

        &-list{
            padding-left: 20px;
            li{
                list-style-type: disc;
            }
        }


    }

        



    }

