.category{



   &__list{

    display: flex;
    column-gap: 30px;


    @include tablet{
        flex-wrap: wrap;
        gap: 30px;

    }

    @include mobile{
        justify-content: center;
     }


   }

    &__item{
        width: 287px;
        height: 320px;
        border-radius: 12px;
        transition-duration: var(--transition-duration);

        &:first-child{
            width: 453px;
        }

        @include hover{
            scale: 1.05;
        }


        &:first-child{
            background: url("../img/category/1.png") 0 0/contain no-repeat;
          
        }

        &:nth-child(2){
                        background: url("../img/category/2.png")  0 0/contain no-repeat;
         
                  
                  
                      
        }
             &:nth-child(3){
                        background: url("../img/category/3.png") 0 0/contain no-repeat;
                 
        }
       
    }



&__info{

    color: var(--color-light);
    padding: 44px 50px;

    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    row-gap: 15px;







&-title{

    cursor: pointer;
    display: flex;
    justify-content: space-between;
    width: 100%;

    &-link{

        
         @include hover{
            color: var(--color-dark);
            background-color: var(--color-light);
        }

    }


}

&-icon{

    display: inline-flex;
    transition-duration: var(--transition-duration);

    @include hover{
        color:var(--color-accent);
    }


}


    
&-list{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    font-size: 16px;
    list-style-type:disc;
}

&-link{
    padding: 5px;
    border-radius: 5px;
    font-weight: 300;

        @include hover{
            color: var(--color-dark);
            background-color: var(--color-light);
        }

    }


  }
}
