.features{

    max-width: 594px;
    position: absolute;

    left: 50%;
    transform:translateX(-50%);
    bottom: 20%;


           @include mobile{
                max-width: unset;
                width: 100%;
                display: flex;
                justify-content: center;

         }



    &__list{
        display: flex;
        column-gap: 40px;
         @include fluid-text(25, 16);

         @include tablet{
              column-gap: 25px;
         }

     


 

    }


    &__item{
            
        display: flex;
        max-width: 177px;
        column-gap: 12px;
        line-height: 1;
        align-items: center;

        
        span.features__number{
            @include fluid-text(50, 40);
            font-weight: 700;
        }
        span.features__title{
        }
    }

    
}