
.products-season{
    line-height: 1;
    color: var(--color-dark);
    padding-top: 90px;

    @include tablet{
      padding-top: 50px;
    }

    @include mobile{
        padding-block: 30px;
    }



    &__title{


    

       @include mobile{
        padding-inline: 0;
       }

       @include mobile-s{
        padding-inline: 0;
       }

   
    }



    &__list {
        
        gap:25px;
        grid-template-columns:repeat(5, minmax(150px,187px));
        grid-auto-rows: auto;

        @include tablet{
            grid-template-columns:repeat(5, minmax(140px,160px));
                 gap:15px;

        }

        @include mobile{
             grid-template-columns:repeat(3, 1fr);
             justify-content: center;

       
        }

        @include mobile-s{
             grid-template-columns:repeat(2, 187px);
       
        }
        



    }

    &__item{
        display:flex;
        flex-direction: column;
        row-gap: 10px;
        padding: 8px;
        border-radius: 15px;
        background-color: var(--color-light);
        max-width: 187px;
        height: auto;


      

    }



    &__link{
        display: inline-block;
    }

    &__image{
        display:block;
        border-radius: 15px;

    }

     &__info{
            
        display:flex;
        flex-direction: column;
        height: 100%;
        justify-content: space-between;
        row-gap: 15px;
        color:var(--color-gray-alt);
    }



    &__subcategory{
        font-size: 14px;
        background-color: green;
        align-self: start;border-radius: 10px;
        padding-inline: 10px;
        color: var(--color-light);
        font-weight: inherit;
        text-transform: lowercase;
        line-height: 1.2;


        &.fungicidy{
            background-color: var(--color-fung);
        }
        &.gerbicidy{
            background-color: var(--color-gerb);

        }
        &.insekticidy,
        &.akaritsidy{
            background-color: var(--color-insekt);

        }
 
        &.regulyatory-rosta{
            background-color: var(--color-regul);

        }

        &.stimulyatory-rosta{
           background-color: var(--color-stemul);
        }


        
    }

    &__name{

        font-family:'GilroyExtraBold',sans-serif;

        @include fluid-text(27, 16);
        font-weight: 800;
        text-transform: uppercase;
        color:#4a4a49;
    }

    &__desc{
        font-size: 10px;
    }

    &__send{
        width: 25px;
        height: 25px;
        border-radius: 50%;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        border: 1px dashed var(--color-dark);
        position: relative;


    }

    &__wrapp-card{
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-family: "Gilroy Bold", sans-serif;
        font-weight: 700;
    }



}