// *{
//      outline: 2px solid red;
// }


html{

&.is-lock{
  overflow:hidden;
}
}
.section{

   --rowGapBlocks:50px;
   padding-block:var(--section-base-padding-y);


   @include mobile{
       --rowGapBlocks:20px;
   }



   &__title{
    color: var(--color-green);
   }





      &__header{
        text-align: center;
        margin-bottom: 50px;


        @include mobile{
          margin-bottom: 20px;
        }
      }


      &--about-us{
        margin-bottom: 0;
      }


  }