@charset "UTF-8";
/**
  Нормализация блочной модели
 */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/**
  Убираем внутренние отступы слева тегам списков,
  у которых есть атрибут class
 */
:where(ul, ol):where([class]) {
  padding-left: 0;
}

/**
  Убираем внешние отступы body и двум другим тегам,
  у которых есть атрибут class
 */
body,
:where(blockquote, figure):where([class]) {
  margin: 0;
}

/**
  Убираем внешние отступы вертикали нужным тегам,
  у которых есть атрибут class
 */
:where(h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
dl):where([class]) {
  margin-block: 0;
}

:where(dd[class]) {
  margin-left: 0;
}

:where(fieldset[class]) {
  margin-left: 0;
  padding: 0;
  border: none;
}

/**
  Убираем стандартный маркер маркированному списку,
  у которого есть атрибут class
 */
:where(ul[class]) {
  list-style: none;
}

/**
  Обнуляем вертикальные внешние отступы параграфа,
  объявляем локальную переменную для внешнего отступа вниз,
  чтобы избежать взаимодействие с более сложным селектором
 */
p {
  --paragraphMarginBottom: 24px;
  margin-block: 0;
}

/**
  Внешний отступ вниз для параграфа без атрибута class,
  который расположен не последним среди своих соседних элементов
 */
p:where(:not([class]):not(:last-child)) {
  margin-bottom: var(--paragraphMarginBottom);
}

/**
  Упрощаем работу с изображениями
 */
img {
  display: block;
  max-width: 100%;
}

/**
  Наследуем свойства шрифт для полей ввода
 */
input,
textarea,
select,
button {
  font: inherit;
}

html {
  /**
    Пригодится в большинстве ситуаций
    (когда, например, нужно будет "прижать" футер к низу сайта)
   */
  height: 100%;
  /**
    Плавный скролл
   */
  scroll-behavior: smooth;
}

body {
  /**
    Пригодится в большинстве ситуаций
    (когда, например, нужно будет "прижать" футер к низу сайта)
   */
  min-height: 100%;
  /**
    Унифицированный интерлиньяж
   */
  line-height: 1.5;
}

/**
  Приводим к единому цвету svg-элементы
 */
svg:not(.preserve-fill) *[fill] {
  fill: currentColor;
}

svg:not(.preserve-fill) *[stroke] {
  stroke: currentColor;
}

/**
  Чиним баг задержки смены цвета при взаимодействии с svg-элементами
 */
svg * {
  transition-property: fill, stroke;
}

/**
  Удаляем все анимации и переходы для людей,
  которые предпочитают их не использовать
 */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
:root {
  --color-light:#FFFFFF;
  --color-dark:#0E0E0E;
  --color-gray:#EDEDED;
  --color-dark-gray:#1D1D1D;
  --color-red-alt:#C53720;
  --color-green:#5d8c56;
  --color-green-alt:#159446;
  --color-green-light:#00ff0c;
  --border: 4px solid #159446;
  --container-width:1128px;
  --container-padding-x:20px;
  --section-base-padding-y:15px;
  --section-large-padding-y:15px;
  --font-family-base:"Geometria",sans-serif;
  --button-height: 52px;
  --button-large-height:56px;
  --button-small-height: 40px;
  --transition-duration: 0.2s;
}

@font-face {
  font-family: "Geometria", sans-serif;
  src: url("../fonts/Geometria-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Geometria", sans-serif;
  src: url("../fonts/Geometria-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
body {
  font-size: clamp(12px, 1.4634146341vw, 24px);
  font-family: var(--font-family-base);
  font-weight: 500;
  color: var(--color-light);
  background-color: var(--color-light);
}

a,
button,
input,
textarea,
svg * {
  transition-duration: var(--transition-duration);
}

a {
  color: inherit;
}
a, a:hover {
  text-decoration: none;
}

button {
  padding: 0;
  border: none;
  background-color: transparent;
  color: currentColor;
}

h1, h2, h3, h4 {
  font-weight: 700;
}

h1, .h1 {
  font-size: clamp(32px, 2.9268292683vw, 48px);
}

h2, .h2 {
  font-size: clamp(26px, 2.1951219512vw, 36px);
}

h3, .h3 {
  font-size: clamp(16px, 1.4634146341vw, 24px);
}

h4, .h4 {
  font-size: clamp(12px, 0.9756097561vw, 16px);
}

.burger-button {
  padding: 0;
  border: none;
  background-color: transparent;
  color: currentColor;
  width: 48px;
  aspect-ratio: 1;
  position: relative;
  align-self: center;
}
@media (hover: hover) {
  .burger-button:hover {
    background-color: var(--color-green-alt);
  }
}
@media (hover: none) {
  .burger-button:active {
    background-color: var(--color-green-alt);
  }
}
.burger-button::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  width: 50%;
  height: 2px;
  background-color: currentColor;
  border-radius: 5px;
  box-shadow: 0 -8px, 0 8px;
}

.cross-button {
  padding: 0;
  border: none;
  background-color: transparent;
  color: currentColor;
  width: 48px;
  aspect-ratio: 1;
  position: relative;
}
@media (hover: hover) {
  .cross-button:hover {
    background-color: var(--color-green-alt);
  }
}
@media (hover: none) {
  .cross-button:active {
    background-color: var(--color-green-alt);
  }
}
.cross-button::after, .cross-button::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  width: 70%;
  height: 2px;
  background-color: var(--color-dark);
  border-radius: 5px;
}
.cross-button::before {
  rotate: 45deg;
}
.cross-button::after {
  rotate: -45deg;
}

.banner {
  --section-base-padding-y:0;
  --section-large-padding-y:0;
  min-height: 400px;
}
.banner__body {
  position: relative;
  height: auto;
  display: flex;
  flex-direction: column;
}
.banner__body input[type=radio] {
  display: none;
}
.banner__body #btn1:checked ~ .banner__list li:first-child,
.banner__body #btn2:checked ~ .banner__list li:nth-child(2),
.banner__body #btn3:checked ~ .banner__list li:nth-child(3),
.banner__body #btn4:checked ~ .banner__list li:nth-child(4) {
  display: block;
}
.banner__body #btn1:checked ~ .pagination .pagination__list li:first-child label[for=btn1],
.banner__body #btn2:checked ~ .pagination .pagination__list li:nth-child(2) label[for=btn2],
.banner__body #btn3:checked ~ .pagination .pagination__list li:nth-child(3) label[for=btn3],
.banner__body #btn4:checked ~ .pagination .pagination__list li:nth-child(4) label[for=btn4] {
  border-color: var(--color-green-alt);
}
@media (max-width: 1023px) {
  .banner__body {
    padding-top: 70px;
    padding-bottom: 0;
  }
}
@media (max-width: 480px) {
  .banner__body {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
}
.banner__list {
  position: relative;
  height: 400px;
}
.banner__list-item {
  position: absolute;
  top: 0;
  left: 0;
  inset: 0;
  width: 100%;
  height: 400px;
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  display: block;
  padding-top: 150px;
  text-transform: uppercase;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}
.banner__list-item.active {
  opacity: 1;
}
.banner__list-item::after {
  content: "";
  position: absolute;
  inset: 0;
}
.banner__list-item.banner--1 {
  background: url("../img/banner-5.jpg") center/cover no-repeat;
  background-position: 100% 30%;
}
.banner__list-item.banner--2 {
  background: url("../img/banner-6.jpg") center/cover no-repeat;
  background-position: 50% 35%;
}
.banner__list-item.banner--3 {
  background-image: url("../img/banner-3.jpg");
  background-position: 0 50%;
}
.banner__list-item.banner--4 {
  background-image: url("../img/banner-4.png");
  background-position: center;
  background-position: 0 60%;
}
.banner__content {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
}
@media (max-width: 480px) {
  .banner__content {
    align-items: center;
  }
}
.banner__title {
  max-width: 586px;
}
.banner__title:not(:last-child) {
  margin-bottom: 52px;
}
@media (max-width: 1023px) {
  .banner__title:not(:last-child) {
    margin-bottom: 40px;
  }
}
@media (max-width: 1023px) {
  .banner__button {
    display: inline-block;
    margin-bottom: 20px;
  }
}
@media (max-width: 480px) {
  .banner__button {
    align-self: center;
  }
}

.slider__button {
  z-index: 2;
  position: relative;
}

.pagination {
  text-align: center;
  color: inherit;
  margin-top: auto;
  position: absolute;
  bottom: 5%;
  left: 50%;
  translate: -50%;
}
.pagination__list {
  display: flex;
  -moz-column-gap: 12px;
       column-gap: 12px;
  align-items: center;
  justify-content: center;
}
.pagination__label {
  display: inline-block;
  width: 112px;
  height: 54px;
  background-color: transparent;
  border-bottom: var(--border);
  border-color: var(--color-light);
  cursor: pointer;
}
@media (max-width: 1023px) {
  .pagination__label {
    width: 80px;
  }
}
@media (max-width: 480px) {
  .pagination__label {
    width: 50px;
  }
}

.section {
  --rowGapBlocks:15px;
  padding-top: var(--section-base-padding-y);
  padding-bottom: var(--section-large-padding-y);
}
@media (max-width: 767px) {
  .section {
    --section-base-padding-y:50px;
    --section-large-padding-y:50px;
    --rowGapBlocks:40px;
  }
}
.section:has(.category), .section:has(.reviews) {
  color: var(--color-dark);
}
.section:has(.about-us) {
  background: linear-gradient(rgba(14, 14, 14, 0.6), rgba(14, 14, 14, 0.6)), url("../img/about-us/bg.png") 0 0/cover no-repeat;
  min-height: 250px;
}
.section:has(.news) {
  min-height: 600px;
  background-color: var(--color-gray);
  color: var(--color-dark);
}
.section__inner {
  display: flex;
  flex-direction: column;
  row-gap: var(--rowGapBlocks);
}
.section__header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  row-gap: 5px;
}
.section__title {
  padding-bottom: 8px;
  padding-inline: 10px;
  border-bottom: 4px solid var(--color-green-alt);
  line-height: 1.33;
  max-width: 856px;
  text-transform: uppercase;
}
@media (max-width: 767px) {
  .section__title {
    padding-inline: 20px;
    padding-bottom: 0;
  }
}
.section__description {
  max-width: 892px;
  line-height: 1.25;
  letter-spacing: 0.05em;
}
@media (max-width: 1023px) {
  .section__description {
    font-size: 18px;
  }
}
@media (max-width: 767px) {
  .section__description {
    padding-top: 20px;
  }
}

.logo svg *[fill] {
  fill: var(--color-green-alt);
}
.logo svg path.red-line {
  fill: var(--color-green-alt);
}
@media (hover: hover) {
  .logo:hover {
    opacity: 0.5;
  }
}
@media (hover: none) {
  .logo:active {
    opacity: 0.5;
  }
}

.grid {
  display: grid;
  --gridColumns:1;
  grid-template-columns: repeat(var(--gridColumns), 1fr);
}
.grid--2 {
  --gridColumns:2;
}
.grid--3 {
  --gridColumns:3;
}
.grid--4 {
  --gridColumns:4;
}
.grid--5 {
  --gridColumns:5;
}
.grid--6 {
  --gridColumns:6;
}
.grid--7 {
  --gridColumns:7;
}
.grid--8 {
  --gridColumns:8;
}
.grid--9 {
  --gridColumns:9;
}
.grid--10 {
  --gridColumns:10;
}
.grid--11 {
  --gridColumns:11;
}
.grid--12 {
  --gridColumns:12;
}
@media (max-width: 480px) {
  .grid--4 {
    --gridColumns:2;
  }
}

.products {
  padding-block: 20px;
  line-height: 1;
}
@media (max-width: 1023px) {
  .products {
    padding-block: 50px;
  }
}
@media (max-width: 767px) {
  .products {
    padding-block: 30px;
  }
}
.products .section__header {
  color: var(--color-dark);
}
.products__title {
  border-bottom: 4px solid var(--color-green-alt);
  max-width: 856px;
  padding-inline: 120px;
  line-height: 1.2;
}
@media (min-width: 1281px) {
  .products__title {
    padding-inline: 50px;
  }
}
@media (max-width: 767px) {
  .products__title {
    padding-inline: 0;
  }
}
@media (max-width: 480px) {
  .products__title {
    padding-inline: 0;
  }
}
.products__images-list {
  gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
  grid-auto-rows: 240px;
}
@media (max-width: 480px) {
  .products__images-list {
    --gridColumns:2;
    gap: 12px;
  }
}
.products__images-item:focus-within .products__images-hover {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
.products__images-link:hover .products__images-hover {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
.products__images-link {
  position: relative;
}
.products__images-image {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  display: block; /* убирает лишние отступы снизу у img */
}
.products__images-title {
  font-weight: 500;
}
.products__images-button {
  width: 100%;
  height: 40px;
  padding-block: 10px;
  padding-inline: 0;
}
@media (max-width: 767px) {
  .products__images-button {
    width: 100%;
    padding-inline: 0;
    padding-block: 5px;
    height: 40px;
  }
}
@media (max-width: 480px) {
  .products__images-button {
    height: 52px;
    padding-block: 14px;
  }
}
.products__images-hover {
  position: absolute;
  text-transform: uppercase;
  color: inherit;
  top: 0;
  left: 0;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-top: 100px;
  padding-bottom: 35px;
  padding-inline: 5px;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  opacity: 0;
  display: flex;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 0.3s ease;
  border-radius: 10px;
}
@media (max-width: 1023px) {
  .products__images-hover {
    padding-top: 45%;
    padding-bottom: 15%;
  }
}
@media (max-width: 767px) {
  .products__images-hover {
    padding-inline: 10px;
  }
}

.about-us {
  display: flex;
  justify-content: center;
  align-items: start;
  -moz-column-gap: 24px;
       column-gap: 24px;
}
@media (max-width: 767px) {
  .about-us {
    flex-direction: column;
    row-gap: 24px;
  }
}
.about-us__image-wrapper {
  position: relative;
  width: 250px;
  height: 230px;
  flex-shrink: 0;
}
@media (max-width: 767px) {
  .about-us__image-wrapper {
    align-self: center;
  }
}
.about-us__image {
  clip-path: url(#about-us);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}
@media (max-width: 480px) {
  .about-us__button {
    align-self: center;
  }
}
.about-us__info {
  max-width: 550px;
  border: var(--border);
  font-size: 16px;
  min-height: 255px;
  align-self: start;
  padding: 32px;
  padding-bottom: 43px;
}
@media (max-width: 1023px) {
  .about-us__info {
    padding: 15px;
    padding-bottom: 30px;
  }
}
@media (max-width: 480px) {
  .about-us__info {
    display: flex;
    flex-direction: column;
  }
}
.about-us__paragraph {
  margin-bottom: 28px;
}

.mask {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  pointer-events: none;
}
.mask *[stroke] {
  stroke: var(--color-green-alt);
}
.mask *[fill] {
  fill: unset;
}

.reviews {
  align-items: center;
  justify-content: center;
}
@media (max-width: 767px) {
  .reviews {
    row-gap: 40px;
  }
}
.reviews__list {
  display: flex;
  gap: 24px;
  align-items: center;
  width: 100%;
  padding-inline: 100px;
  scroll-snap-type: x mandatory;
  overflow-x: scroll;
}
@media (max-width: 767px) {
  .reviews__list {
    gap: 12px;
  }
}
@media (max-width: 480px) {
  .reviews__list {
    gap: 30px;
    width: unset;
  }
}
.reviews__item {
  display: flex;
  align-items: center;
  -moz-column-gap: 20px;
       column-gap: 20px;
  height: 100%;
  padding-left: 20px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  scroll-snap-align: start;
  min-width: 400px;
}
.reviews__body {
  padding: 12px 20px 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
}
@media (max-width: 767px) {
  .reviews__body {
    padding: 6px 10px;
  }
}
.reviews__body time {
  font-size: 12px;
  font-style: italic;
}
.reviews__body-title {
  color: var(--color-light);
  text-transform: uppercase;
}
.reviews__avatar {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}
.reviews__avatar-image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.reviews__description {
  font-size: 12px;
  max-width: 200px;
}

.categories {
  padding-inline: 120px;
}
.categories__list {
  display: flex;
  justify-content: space-between;
}
.categories__item {
  width: 270px;
  height: 300px;
  opacity: 0.8;
  border-radius: 20px;
  transition-duration: var(--transition-duration);
}
@media (hover: hover) {
  .categories__item:hover {
    scale: 1.1;
  }
}
@media (hover: none) {
  .categories__item:active {
    scale: 1.1;
  }
}
.categories__item:first-child {
  background: url("../img/category/1.png") 100% 0/contain no-repeat;
  background-color: rgb(137, 206, 247);
}
.categories__item:nth-child(2) {
  background: url("../img/category/2.png") 120% 70%/200px no-repeat;
  background-color: lightgreen;
}
.categories__item:nth-child(3) {
  background: url("../img/category/3.png") 100% -50%/300px no-repeat;
  background-color: rgb(16, 230, 212);
}

.category {
  color: var(--color-light);
  padding: 20px;
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
  row-gap: 80px;
}
.category__title {
  font-size: 24px;
  cursor: pointer;
}
.category__list {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  font-size: 16px;
}
.category__link {
  padding: 5px;
  background-color: rgba(12, 12, 12, 0.2);
  border-radius: 5px;
  font-weight: 700;
}
@media (hover: hover) {
  .category__link:hover {
    color: var(--color-dark);
    background-color: var(--color-light);
  }
}
@media (hover: none) {
  .category__link:active {
    color: var(--color-dark);
    background-color: var(--color-light);
  }
}/*# sourceMappingURL=style.css.map */