.categories-aside{

    background-color: var(--color-light);
    color: var(--color-dark);
    border-radius: 12px;
    padding: 21px 19px 30px 21px;
 
    &__menu{
        display: flex;
        flex-direction: column;
        line-height: 1;

        

    }

    &__item{



        
        &.is-open>.categories-aside__sublink
        {
            color: var(--color-active);
        }


        .categories-aside__icon{
            transition-duration: var(--transition-duration);
        }

        &.is-open>.categories-aside__link>svg.categories-aside__icon{
            rotate: 180deg;
            
        }


   }


    &__link,
    &__sublink
    {
        display: inline-flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        transition-duration: var(--transition-duration);


        @include hover{
            color: var(--color-accent);
        }
  

           
         }

        &__link{

            font-size: 1rem;
            font-weight: 700;
            // line-height: 1.9;
            color: var(--color-gray-dark);
            padding-block: 10px;
            border-bottom: 1px solid var(--color-gray-alt);


        }
        &__sublink{
            font-weight: 400;
            font-size: 11px;
            color:var(--color-gray-alt);
        }

        

    &__dropdown{
        display: none;

    }
    &__dropdown.to-show{
        display: block;
        padding-block: 10px;
    }

    &__submenu{
        display: flex;
        flex-direction: column;
        row-gap: 5px;
    }

    &__subItem{
        display:inline-flex;  
    }
}