.pagination{

	min-height: 50px;
	width: 100%;
	padding-bottom: 10px;
	font-size: 16px;
	
	@include flex-center;


&__inner{

	display: flex;
	justify-content: center;
	column-gap: 50px;
	background-color: #ebebeb;
	align-items: center;
	
}

&__list{
	display: flex;
	column-gap: 40px;

	@include mobile{
	   column-gap: 20px;

	}

}

&__item{
		&.active{
		color: var(--color-light);
		background-color: var(--color-green-alt);

		.pagination__link{
			cursor:default;
			user-select: none;
		} 
	
	}
}

&__link{
	@include flex-center;
	width: 30px;
	height: 30px;

	@include hover{
		opacity: 0.6;
	}

}


.pagination__button{
	background-color: transparent;
	width: 20px;
	height: 20px;
	@include flex-center(true);
	@include reset-button;

}




}