.header{

  
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;

  


    &:has(.flex-column){
        background-color: unset;
    }


    &.transparent{
            background-color: transparent;
                padding-top: 67px;

                @include tablet{
                    padding-top:30px;
                }
    }

    &.solid{
       background-color: #212f25;
       padding-top: 20px;

     


       .header__social-link{
        padding-block: 15px;
       }
    }

    &__inner{
     
    
        display: flex;

        &.flex-column{
            flex-direction: column;
            align-items: center;
            row-gap:83px;


             .header__navigation-wrapper{
      
                width: 100%;
                display: block;
             }

        
            .header__container{
                display: flex;
          
              

                @include tablet{

                      

                }

                @include mobile{
                    justify-content: end;
                }
          
            }

            .header__menu{
                align-self:unset;
                display: flex;
                align-items: center;

                &-list{
                    align-items: center;
                    height: 100%;
                }

                &-item{
              
                    height: 100%;
                }

                &-link{
                    padding-block: 20px;
                    height: 100%;
                    display: flex;
                    align-items: center;


                }

            }
   


        }

        @include tablet{
                 min-height: 80px;
                 padding-top: 10px;
                 justify-content: space-between;
                
        }

        @include mobile{
            justify-content: end;
        }

    }

        @include mobile{
                &.container{
                 padding-inline: 5px;
        }
      }



    &__logo{
        width: 50px;
        height: auto;
        display: flex;
        margin-right: 40px;
        flex-shrink: 0;

        .hide{
            display: none;
        }

        &.logo-main{

            width: 228px;
            height: 148px;
            margin-right: unset;
            order: 1;

    
        }
     
    

    }

    &__navigation-wrapper{
        display: contents;
    }

    &__container{
        display: contents;
    }

    &__menu{
     

        &-list{
                display: flex;
                column-gap: 40px;
                justify-content: space-between;
                height: 100%;

                @include tablet{
                    column-gap: 5px;
                }

            }

        &-item{

            height: 100%;
            display: flex;
            position: relative;
            &:hover .header__catalog-aside{
                display: block;
            }
        }


            
        &-link{
                position: relative;
                display: flex;
                align-items: center;
                padding-inline:8px;
                 line-height: 1.4;
                 @include fluid-text(16,14);
            

                &:focus, &.is-current{
                    &::after{
                    width: 100%;

                    }
                }

                @include hover{
                    // opacity: 0.7;

                    &::after{
                        width: 100%;
                    }
                }

                &::after{
                    content: "";
                    position: absolute;
                    width: 0;
                    height: 4px;
                    bottom: 0;
                    left: 50%;
                    background-color: var(--color-green-alt);
                    transition-duration: inherit;
                    transform: translate(-50%);

                }

                @include tablet{
                    padding-inline: 4px;
                    
                }
            
        }


    }
 


    &__catalog{
        

        &-aside,  &-dropdown{
          display: none;
          background-color: rgba($color: #000000, $alpha: 0.8);
          font-size: 12px;
          position: absolute;
        //  border-radius: 10px;
          top: 100%;
          width: 228px;
      
        }

        &-list{
            display: flex;
            flex-direction: column;

        }

        &-link{
            display: flex;
            align-items: center;
            justify-content: space-between;
            column-gap: 60px;
            border-bottom: 1px solid rgba(255,255,255,0.2);
            padding-block: 10px;
            padding-left:20px;
            
            
            &-icon{
               @include flex-center;
            
            }

            &-text{
                line-height: 1.7;
                // height: 20px;
            }
  
            
            @include hover{
                background-color: var(--color-green-alt);
            }


        }

        &-item{
            position: relative;

          


            &:hover .header__catalog-dropdown{
                    display: block;
            }

    
        }



        &-dropdown{
            position: absolute;
            top: 0;
            left: 100%;
        }


    }

    &__call-link{
     

        margin-right: 10px;

        align-self: center;
        margin-left: auto;
        flex-shrink: 0;
        width: 135px;
        padding-inline: 10px;
        height: 30px;
        border-radius: 10px;
        font-size: 14px;



        

          @include tablet{
               margin-right: 10px;
               max-width: 168px;
               height: auto;
               margin-left: auto;


          }

    }

    &__social-link{
        @include flex-center(true);
        width: 40px;
        padding-inline: 10px;
       // margin-right: 20px;

           @include hover{
            background-color: var(--color-accent);
            opacity: 1;
        }


   
        svg path{
            &.icon-whatsapp-1{
                fill:#cfd8dc;
            }

                &.icon-whatsapp-2{
                fill:#40c351;
            }

 
         
             
        }
   
    }

    &__icons-wrapper{
        display: flex;
        align-items: center;
        justify-content: start;
        position: relative;

    }

 

    &__search-button{
      

        @include tablet{
            margin-right: 0;
        }
    }

    &__icon-search{
     

            @include tablet{
                padding: 4px;
                width: 26px;
                aspect-ratio: 1;
            }
         
        }


    &__burger-menu{
        color: #fff; 
    }

}


