.search {

    display: flex;
    align-items: center;
    justify-content: start;
    position: relative;
    font-size: 18px;

    @include hover{
        &::after{
                background-color: var(--color-accent);
                opacity: 1;
                z-index: -1;
               
        }

             
    }


     &::after{
            content: '';
            @include abs-center;   
            width: 40px;
            height: 100%;   
     
     }

    &__button{
  
          height: 100%;     
    }

    &__icon{
        pointer-events: none;
        display: inline-flex;
        padding: 8px 7px 6px;
    }

    &__wrapper-field{
        position: absolute;
        right: 10px;
        top:100%;
        outline: none;

        &.hidden{
           display: none;
        }
    }

    &__input{
         width: 350px;
         height:40px;
         border: 2px solid var(--color-green-alt);
         outline: none;
         margin-bottom: 2px;
         
 
    }

    &__results {
        &-wrapper{

            background-color: var(--color-light);
            border-radius: 5px;
            opacity: 1;

        }

        &-list{
           color: var(--color-dark);
     
            li.active {
                background: #ffe08a;
            }

            li.active a {
                color: #000;
                text-decoration: none;
            }




        }

        &-link{

            display: flex;
            align-items: center;
            padding-inline: 20px;
            border-bottom: 1px solid var(--color-gray);
            height: 40px;

            @include hover{
                background-color: #ffe08a;   
            }


            
                span{
                    font-size: 14px;
                    background-color: var(--color-gray);
                    margin-left: auto;  
                    
                }

        }

    }
      

}

  


   
