.accordion{


   border-bottom: 1px solid var(--color-gray-alt);
   padding-bottom: 10px;


    &[open]{
   

        .accordion__title{
            font-size: 0;
        }

        .accordion__icon {
            rotate: 180deg;
        }


    }

    &__title{
        font-size: 14px;
    }



    &--description{

        margin-bottom: 20px;

    }

    
    &__header{

        display: flex;
        justify-content: space-between;   

        &::marker{
            content: "";
        }

      



        @include hover{
                opacity: 0.5;
            }
    }

       &__icon{
         transition-duration: var(--transition-duration);
       }

}

