.product{


    &__image-wrapper, 
    &__info{
        background-color: var(--color-light);
        border-radius: 10px;
    }

    &__image-wrapper{
        padding: 20px;
        position: relative;
    }

    &__linza{
        position: absolute;
        width: 190px;
        height: 190px;
        cursor: none;
        border-radius: 50%;
        border: 3px solid var(--color-gray-alt);
        opacity: 0;

    }

    &__info{
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        row-gap: 20px;
        padding-left: 20px;
        padding-top: 50px;

        &-price{
            font-size: 24px;
            font-weight: 700;
        }

        &-button{
            align-self: start;
            width: 180px;
            padding-block: 10px;
        }
    }
}