 @import"mixins";
  @import"media";


.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  border: 0 !important;
  padding: 0 !important;
  white-space: nowrap !important;
  clip-path: inset(100%) !important;
  clip: rect(0 0 0 0) !important;
  overflow: hidden !important;
}

.container{
    max-width: calc(var(--container-width) + var(--container-padding-x)*2);
    margin-inline: auto;
    padding-inline: var(--container-padding-x);
  

}

.container-wide{
    max-width: 1640px;
        margin-inline: auto;

    // @include desktop-above{
    //     width: 100vw;
    // }
}

.hidden-mobile {
    @include mobile{
        display: none !important;
    }

}

.visible-mobile{
    @include mobile-above{
        display: none !important;
    }
}

.button{
        display: flex;
        align-items: center;
        justify-content: center;
        border: var(--border);
        font-weight: 400;
        padding: 14px;
        text-align: center;
        cursor: pointer;
        
        @include hover{
            opacity: .5;
        }
}



.button-medium{
    width: 185px;
    height: 35px;
    
}
.button-large{
    width: 236px;
    height: 56px;
}

