.footer{

    position: relative;
    z-index: 0;
    padding-block: 70px;
    font-size: 16px;


    @include tablet{
        padding-block: 20px;
    }


    &:before{
        content: "";
        position: absolute;
        inset: 0;
        background: var(--color-green);

        z-index: -1;
    }


    &:after{
        content: "";
        position: absolute;
        inset: 0;
        background-color: var(--color-dark);
        opacity: 1;
        z-index: -2;
      
    }    

    &__body{

            display:flex;
            column-gap: 160px;

        @include mobile{
            --gridColumns:2;
        }

        @include mobile-s{
             --gridColumns:1;
        }
    }

    &__logo{
        width: 138px;
        height: 83px;
        display: inline-block;
        flex-shrink: 0;


        &-and-coopyright{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            min-width: 200px;
        }


        &:not(:last-child){


            @include tablet{
                margin-bottom: 20px;
            }
        }
    
    }
    
    &-coopyright{
  
                text-transform: uppercase;

    
    }

    &__column{

                display: flex;
                flex-direction: column;
                row-gap:24px;
 

            &-title{


            font-weight: inherit;
            text-transform: uppercase;
            font-size: 16px;
            }

            &-list{
                display: flex;
                flex-direction: column;
                row-gap: 16px;
                opacity: 0.5;


                @include tablet{
                    row-gap: 8px;
                }
            }


            &-link{
                @include hover{
                    opacity: 0.5;
                }
            }



    
    
        }


   
    &-contacts__item{

        margin-bottom: 10px;
   

    }
    &-contacts__link{
        display: flex;
        justify-content: start;
        align-items: center;
        column-gap: 8px;

        &.location{
            align-items: start;
        }

        .phone-icon *[fill],
        .email-icon *[fill]{
            fill:var( --color-green-alt);
        }

    }

    &__call-link{
        padding-block: 10px;

        line-height: 1;
        width: 176px;
        height: 40px;

        @include desktop{
            width: 100%;
            padding-block: 0;
            padding-inline: 0;
        }

        @include tablet{
            width: 100%;
            padding-inline: 0;
        }

        @include mobile{
                width: 176px;
                height: 40px;
        }
    }





}