@charset "UTF-8";
/**
  Нормализация блочной модели
 */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/**
  Убираем внутренние отступы слева тегам списков,
  у которых есть атрибут class
 */
:where(ul, ol):where([class]) {
  padding-left: 0;
}

/**
  Убираем внешние отступы body и двум другим тегам,
  у которых есть атрибут class
 */
body,
:where(blockquote, figure):where([class]) {
  margin: 0;
}

/**
  Убираем внешние отступы вертикали нужным тегам,
  у которых есть атрибут class
 */
:where(h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
dl):where([class]) {
  margin-block: 0;
}

:where(dd[class]) {
  margin-left: 0;
}

:where(fieldset[class]) {
  margin-left: 0;
  padding: 0;
  border: none;
}

/**
  Убираем стандартный маркер маркированному списку,
  у которого есть атрибут class
 */
:where(ul[class]) {
  list-style: none;
}

/**
  Обнуляем вертикальные внешние отступы параграфа,
  объявляем локальную переменную для внешнего отступа вниз,
  чтобы избежать взаимодействие с более сложным селектором
 */
p {
  --paragraphMarginBottom: 24px;
  margin-block: 0;
}

/**
  Внешний отступ вниз для параграфа без атрибута class,
  который расположен не последним среди своих соседних элементов
 */
p:where(:not([class]):not(:last-child)) {
  margin-bottom: var(--paragraphMarginBottom);
}

/**
  Упрощаем работу с изображениями
 */
img {
  display: block;
  max-width: 100%;
}

/**
  Наследуем свойства шрифт для полей ввода
 */
input,
textarea,
select,
button {
  font: inherit;
}

html {
  /**
    Пригодится в большинстве ситуаций
    (когда, например, нужно будет "прижать" футер к низу сайта)
   */
  height: 100%;
  /**
    Плавный скролл
   */
  scroll-behavior: smooth;
}

body {
  /**
    Пригодится в большинстве ситуаций
    (когда, например, нужно будет "прижать" футер к низу сайта)
   */
  min-height: 100%;
  /**
    Унифицированный интерлиньяж
   */
  line-height: 1.5;
}

/**
  Приводим к единому цвету svg-элементы
 */
svg:not(.preserve-fill) *[fill] {
  fill: currentColor;
}

svg:not(.preserve-fill) *[stroke] {
  stroke: currentColor;
}

/**
  Чиним баг задержки смены цвета при взаимодействии с svg-элементами
 */
svg * {
  transition-property: fill, stroke;
}

/**
  Удаляем все анимации и переходы для людей,
  которые предпочитают их не использовать
 */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
:root {
  --color-light:#FFFFFF;
  --color-dark:#0E0E0E;
  --color-gray:#EDEDED;
  --color-gray-alt:#606060;
  --color-dark-gray:#1D1D1D;
  --color-gray-dark:#4a4a49;
  --color-active: #D93058;
  --color-green:#23391f;
  --color-green-alt:#159446;
  --container-width:1128px;
  --container-padding-x:20px;
  --section-base-padding-y:88px;
  --section-large-padding-y:98px;
  --font-family-base:'Gilroy',sans-serif;
  --button-height: 52px;
  --button-large-height:56px;
  --button-small-height: 40px;
  --transition-duration: 0.2s;
}

body {
  font-size: clamp(12px, 1.6666666667vw, 24px);
  font-family: var(--font-family-base);
  font-weight: 500;
  color: var(--color-light);
  background-color: var(--color-light);
}

a,
button,
input,
textarea,
svg * {
  transition-duration: var(--transition-duration);
}

a {
  color: inherit;
}
a, a:hover {
  text-decoration: none;
}

button {
  padding: 0;
  border: none;
  background-color: transparent;
  color: currentColor;
}

h1, h2, h3, h4 {
  font-weight: 700;
}

h1, .h1 {
  font-size: clamp(32px, 3.3333333333vw, 48px);
}

h2, .h2 {
  font-size: clamp(26px, 2.5vw, 36px);
}

h3, .h3 {
  font-size: clamp(16px, 1.6666666667vw, 24px);
}

h4, .h4 {
  font-size: clamp(12px, 1.1111111111vw, 16px);
}

.pagination {
  min-height: 50px;
  width: 100%;
  padding-bottom: 10px;
  font-size: 16px;
  justify-content: center;
  align-items: center;
  display: flex;
}
.pagination__inner {
  display: flex;
  justify-content: center;
  -moz-column-gap: 50px;
       column-gap: 50px;
  background-color: #ebebeb;
  align-items: center;
}
.pagination__list {
  display: flex;
  -moz-column-gap: 40px;
       column-gap: 40px;
}
@media (max-width: 767px) {
  .pagination__list {
    -moz-column-gap: 20px;
         column-gap: 20px;
  }
}
.pagination__item.active {
  color: var(--color-light);
  background-color: var(--color-green-alt);
}
.pagination__item.active .pagination__link {
  cursor: default;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.pagination__link {
  justify-content: center;
  align-items: center;
  display: flex;
  width: 30px;
  height: 30px;
}
@media (hover: hover) {
  .pagination__link:hover {
    opacity: 0.6;
  }
}
@media (hover: none) {
  .pagination__link:active {
    opacity: 0.6;
  }
}
.pagination .pagination__button {
  background-color: transparent;
  width: 20px;
  height: 20px;
  justify-content: center;
  align-items: center;
  display: inline-flex;
  padding: 0;
  border: none;
  background-color: transparent;
  color: currentColor;
}

.section {
  --rowGapBlocks:74px;
  padding-top: var(--section-base-padding-y);
  padding-bottom: var(--section-large-padding-y);
}
@media (max-width: 767px) {
  .section {
    --section-base-padding-y:50px;
    --section-large-padding-y:50px;
    --rowGapBlocks:40px;
  }
}
.section:has(.category) {
  color: var(--color-dark);
}
.section:has(.about-us) {
  background: linear-gradient(rgba(14, 14, 14, 0.6), rgba(14, 14, 14, 0.6)), url("../img/about-us/bg.png") 0 0/cover no-repeat;
  min-height: 670px;
}
.section:has(.news) {
  min-height: 800px;
  background-color: var(--color-gray);
  color: var(--color-dark);
}
.section__inner {
  display: flex;
  flex-direction: column;
  row-gap: var(--rowGapBlocks);
}
.section__header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  row-gap: 32px;
}
.section__title {
  padding-bottom: 8px;
  padding-inline: 10px;
  border-bottom: 4px solid var(--color-green-alt);
  line-height: 1.33;
  max-width: 856px;
  text-transform: uppercase;
}
@media (max-width: 767px) {
  .section__title {
    padding-inline: 20px;
    padding-bottom: 0;
  }
}
.section__description {
  max-width: 892px;
  line-height: 1.25;
  letter-spacing: 0.05em;
}
@media (max-width: 1023px) {
  .section__description {
    font-size: 18px;
  }
}
@media (max-width: 767px) {
  .section__description {
    padding-top: 20px;
  }
}

.logo svg *[fill] {
  fill: var(--color-green-alt);
}
.logo svg path.red-line {
  fill: var(--color-green-alt);
}
@media (hover: hover) {
  .logo:hover {
    opacity: 0.5;
  }
}
@media (hover: none) {
  .logo:active {
    opacity: 0.5;
  }
}

.grid {
  display: grid;
  --gridColumns:1;
  grid-template-columns: repeat(var(--gridColumns), 1fr);
}
.grid--2 {
  --gridColumns:2;
}
.grid--3 {
  --gridColumns:3;
}
.grid--4 {
  --gridColumns:4;
}
.grid--5 {
  --gridColumns:5;
}
.grid--6 {
  --gridColumns:6;
}
.grid--7 {
  --gridColumns:7;
}
.grid--8 {
  --gridColumns:8;
}
.grid--9 {
  --gridColumns:9;
}
.grid--10 {
  --gridColumns:10;
}
.grid--11 {
  --gridColumns:11;
}
.grid--12 {
  --gridColumns:12;
}
@media (max-width: 480px) {
  .grid--4 {
    --gridColumns:2;
  }
}

@media (max-width: 767px) {
  .service__images {
    order: -1;
  }
}
.service__images-wrapper {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 490px;
  height: 620px;
  background: url(../img/service/combo-img.png) center center/cover no-repeat;
}
@media (min-width: 768px) {
  .service__images-wrapper {
    width: 440px;
    height: 560px;
    background-size: 90%;
  }
}
@media (max-width: 1023px) {
  .service__images-wrapper {
    width: 392px;
    height: 496px;
    background-size: 80%;
  }
}
@media (min-width: 1024px) {
  .service__images-wrapper {
    width: 440px;
    height: 560px;
    background-size: 90%;
  }
}
@media (min-width: 1281px) {
  .service__images-wrapper {
    width: 490px;
    height: 620px;
    background-size: 100%;
  }
}
@media (max-width: 480px) {
  .service__images-wrapper {
    width: 343px;
    height: 434px;
    background-size: 70%;
  }
}
.service__images-wrapper .icon {
  position: absolute;
  color: var(--color-green-alt);
  display: inline-flex;
}
.service__images-wrapper .triangle-1 {
  width: 13.4%;
  right: 25%;
  bottom: 0;
}
@media (max-width: 1023px) {
  .service__images-wrapper .triangle-1 {
    bottom: 7%;
  }
}
.service__images-wrapper .triangle-2 {
  width: 26%;
  right: 80%;
  bottom: 11%;
}
@media (max-width: 1023px) {
  .service__images-wrapper .triangle-2 {
    right: 68%;
  }
}
@media (max-width: 480px) {
  .service__images-wrapper .triangle-2 {
    right: 62%;
  }
}
@media (min-width: 1024px) {
  .service__images-wrapper .triangle-2 {
    right: 72%;
  }
}
@media (min-width: 1281px) {
  .service__images-wrapper .triangle-2 {
    right: 77%;
  }
}
.service__images-wrapper .triangle-3 {
  width: 32%;
  left: 20%;
  top: 27%;
}
@media (max-width: 1023px) {
  .service__images-wrapper .triangle-3 {
    left: 20%;
    top: 25%;
  }
}
.service__images-wrapper .triangle-4 {
  width: 14%;
  right: 7%;
  top: 0;
}
@media (max-width: 1023px) {
  .service__images-wrapper .triangle-4 {
    right: 18%;
    top: 3%;
  }
}
@media (max-width: 480px) {
  .service__images-wrapper .triangle-4 {
    right: 21%;
    top: 8%;
  }
}
@media (min-width: 1024px) {
  .service__images-wrapper .triangle-4 {
    right: 13%;
    top: 5%;
  }
}
@media (min-width: 1281px) {
  .service__images-wrapper .triangle-4 {
    top: 0;
  }
}
.service__images-wrapper .triangle-5 {
  width: 41.2%;
  left: 75%;
  bottom: 11%;
}
@media (max-width: 1023px) {
  .service__images-wrapper .triangle-5 {
    left: 63%;
  }
}
@media (min-width: 1024px) {
  .service__images-wrapper .triangle-5 {
    left: 67%;
  }
}
@media (min-width: 1281px) {
  .service__images-wrapper .triangle-5 {
    left: 75%;
  }
}
@media (max-width: 480px) {
  .service__images-wrapper .triangle-5 {
    left: 58%;
    bottom: 11%;
  }
}

.brand {
  min-height: 200px;
  --section-base-padding-y:55px;
  --section-large-padding-y:55px;
}
.brand__inner {
  display: flex;
  justify-content: center;
  position: relative;
}
.brand__list {
  -moz-column-gap: 44px;
       column-gap: 44px;
  align-items: center;
  justify-items: center;
}
@media (max-width: 1023px) {
  .brand__list {
    --gridColumns:3;
    row-gap: 15px;
  }
}
@media (max-width: 767px) {
  .brand__list {
    --gridColumns:2;
  }
}
@media (max-width: 480px) {
  .brand__list {
    --gridColumns:1;
  }
}
.brand__item {
  display: flex;
  justify-content: center;
  align-items: center;
}
.brand__item:first-child a {
  opacity: 0.5;
}
.brand__item:nth-child(4) a {
  opacity: 0.6;
}
.brand__item:nth-child(5) a {
  opacity: 0.7;
}
@media (hover: hover) {
  .brand__link:hover {
    opacity: 0.3 !important;
  }
}
@media (hover: none) {
  .brand__link:active {
    opacity: 0.3 !important;
  }
}
.brand__scroll-actions {
  color: var(--color-green-alt);
}
.brand__scroll-actions button {
  position: absolute;
  display: inline-flex;
  top: 50%;
  transform: translateY(-50%);
}
.brand__scroll-actions button[disabled] {
  opacity: 0.5;
  cursor: not-allowed;
}
@media (hover: hover) {
  .brand__scroll-actions button:hover {
    opacity: 0.5;
  }
}
@media (hover: none) {
  .brand__scroll-actions button:active {
    opacity: 0.5;
  }
}
@media (max-width: 767px) {
  .brand__scroll-actions button {
    width: 40px;
    height: 40px;
  }
  .brand__scroll-actions button svg {
    width: 100%;
    height: 100%;
  }
}
.brand__scroll-actions .scroll-preview {
  left: var(--container-padding-x);
}
.brand__scroll-actions .scroll-next {
  right: var(--container-padding-x);
}

.breadcrumbs {
  color: var(--color-gray-alt);
  padding-bottom: 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1;
}
.breadcrumbs__list {
  display: flex;
  align-items: center;
}
@media (hover: hover) {
  .breadcrumbs__item:not(.is-current) .breadcrumbs__link:hover {
    color: var(--color-green-alt);
  }
}
@media (hover: none) {
  .breadcrumbs__item:not(.is-current) .breadcrumbs__link:active {
    color: var(--color-green-alt);
  }
}
.breadcrumbs__link {
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.categories-aside {
  background-color: var(--color-light);
  color: var(--color-dark);
  border-radius: 12px;
  padding: 21px 19px 30px 21px;
}
.categories-aside__menu {
  display: flex;
  flex-direction: column;
  line-height: 1;
}
.categories-aside__item.is-open > .categories-aside__sublink {
  color: var(--color-active);
}
.categories-aside__item .categories-aside__icon {
  transition-duration: var(--transition-duration);
}
.categories-aside__item.is-open > .categories-aside__link > svg.categories-aside__icon {
  rotate: 180deg;
}
.categories-aside__link, .categories-aside__sublink {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  transition-duration: var(--transition-duration);
}
@media (hover: hover) {
  .categories-aside__link:hover, .categories-aside__sublink:hover {
    color: var(--color-accent);
  }
}
@media (hover: none) {
  .categories-aside__link:active, .categories-aside__sublink:active {
    color: var(--color-accent);
  }
}
.categories-aside__link {
  font-size: 1rem;
  font-weight: 700;
  color: var(--color-gray-dark);
  padding-block: 10px;
  border-bottom: 1px solid var(--color-gray-alt);
}
.categories-aside__sublink {
  font-weight: 400;
  font-size: 11px;
  color: var(--color-gray-alt);
}
.categories-aside__dropdown {
  display: none;
}
.categories-aside__dropdown.to-show {
  display: block;
  padding-block: 10px;
}
.categories-aside__submenu {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
}
.categories-aside__subItem {
  display: inline-flex;
}

.category-page__body {
  display: flex;
  -moz-column-gap: 60px;
       column-gap: 60px;
}
@media (max-width: 1023px) {
  .category-page__body {
    -moz-column-gap: 30px;
         column-gap: 30px;
  }
}
@media (max-width: 767px) {
  .category-page__body {
    flex-direction: column;
    row-gap: 20px;
    align-items: center;
  }
}
.category-page__body .block-left {
  width: 100%;
  max-width: 280px;
}
.category-page__scroll-wrapper {
  position: absolute;
  right: var(--container-padding-x);
  bottom: 0;
  display: flex;
  flex-direction: column;
  color: var(--color-green-alt);
}
.category-page__total-products {
  line-height: 2.5;
  color: var(--color-gray-alt);
}
.category-page__title-and-count-wrapper {
  display: flex;
  -moz-column-gap: 10px;
       column-gap: 10px;
}

.category-products {
  color: var(--color-dark);
  display: flex;
  flex-direction: column;
  row-gap: 18px;
  max-width: 740px;
  width: 100%;
}
@media (max-width: 1023px) {
  .category-products {
    max-width: 600px;
  }
}
@media (max-width: 767px) {
  .category-products {
    align-items: center;
  }
}
.category-products__sort {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
}
.category-products__sort-list {
  display: flex;
  -moz-column-gap: 20px;
       column-gap: 20px;
}
.category-products__list {
  gap: 20px;
}
@media (max-width: 1023px) {
  .category-products__list.grid--4 {
    --gridColumns: 3;
  }
}
@media (max-width: 480px) {
  .category-products__list.grid--4 {
    --gridColumns: 2;
  }
}
.category-products__list.flex-row {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  row-gap: 24px;
}
.category-products__item {
  background-color: var(--color-light);
  display: flex;
  flex-direction: column;
  padding: 8px 8px 10px;
  row-gap: 10px;
  border-radius: 9px;
  width: 170px;
}
.category-products__item strong {
  margin-bottom: 0;
}
.category-products__item img {
  border-radius: 9px;
}
.category-products__item.item-row {
  flex-direction: row;
  justify-content: space-between;
}
.category-products__item.item-row .category-products__link {
  flex-direction: row;
  -moz-column-gap: 20px;
       column-gap: 20px;
}
.category-products__link {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  margin-bottom: 4px;
}
.category-products__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 10px;
}
.category-products__image-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}
.category-products__image-wrapper img {
  max-width: 100%;
  max-height: 100%;
}
.category-products__title, .category-products__header-title {
  text-transform: uppercase;
  font-weight: 800;
  font-size: 20px;
  color: var(--color-gray-dark);
  line-height: 1;
  min-height: 52px;
  overflow: hidden;
  white-space: normal;
  word-break: break-word; /* переносит слишком длинные слова */
  hyphens: auto; /* добавляет переносы по слогам */
}
.category-products__header-title {
  font-size: 32px;
}
.category-products__total {
  font-size: 11px;
  color: var(--color-gray-alt);
  font-weight: 400;
}
.category-products__price {
  font-size: 12px;
  font-weight: 700;
  color: var(--color-gray-alt);
  margin-bottom: 8px;
}
.category-products__button {
  padding-block: 3px;
  height: 20px;
  line-height: 1;
  width: 100%;
  max-width: 100px;
  justify-content: center;
  margin-top: auto;
  background-color: var(--color-green);
  border-radius: 8px;
  font-size: 10px;
  color: var(--color-light);
}
.category-products__button-wrapper {
  display: flex;
  align-items: center;
  width: 248px;
}

@font-face {
  font-family: "Gilroy";
  src: local("Gilroy-Light"), url("/template/styles/fonts/fonts/Gilroy-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Gilroy";
  src: url("/template/styles/fonts/fonts/Gilroy-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Gilroy";
  src: url("/template/styles/fonts/fonts/Gilroy-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Gilroy";
  src: url("/template/styles/fonts/fonts/Gilroy-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Gilroy";
  src: url("/template/styles/fonts/fonts/Gilroy-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Gilroy";
  src: url("/template/styles/fonts/fonts/Gilroy-Extrabold.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "Gilroy";
  src: url("/template/styles/fonts/fonts/Gilroy-Heavy.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
.content {
  padding-top: 162px;
}/*# sourceMappingURL=style.css.map */